#body-section-regi{
    font-family: "Inter", sans-serif;
    background: #33ff00;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(51, 255, 0, 1) 0%, rgba(7, 102, 0, 1) 100%);
}

#regi-con{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width:  60vw;
    height: 80vh;
    border-radius: 1.5rem;
    display: flex;
    overflow: hidden;
}

#regi-con #regi-con-01{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1.3);
}

#regi-con #regi-con-02{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1.3);
    
}

#regi-con-01 #regi-seta-realize-seu-cadastro{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#regi-con-02 #regi-botao-submit button{
    background-color: #018719;
    padding: 0.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
}


#regi-con-02 #regi-botao-submit button:hover{
    background-color: #ffffff;
    color: #018719;
    border: 0.3px solid #018719;
}

#regi-con-01 #regi-seta-realize-seu-cadastro a span{
    color: #018719;
}

#regi-con-01 #regi-seta-realize-seu-cadastro h3{
    color: black;
    font-weight: bolder;
}

#regi-con input{
    border-radius: 0.5rem;
    padding: 0.3rem;
    border: 0.3px solid gray;
}

#regi-con-02 #regi-campo-biografia{
    line-height: 50px;
}

#regi-con label{
    font-size: small;
}

#regi-con input::placeholder{
    font-size: 10px;   
}

#regi-con-02 #regi-rodape{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 10px;
}

#regi-con-02 #regi-formulario input{
    width: 100%;
}

#regi-con-02 #regi-formulario label{
    width: 100%;
}

#regi-con-01 #regi-formulario input{
    width: 100%;
}

#con-01 #regi-formulario label{
    width: 100%;
}

#regi-con-01 {
    transform-origin: center;
    transform: scale(1.2);
}

#regi-con-02{
    transform-origin: center;
    transform: scale(1.2);
}

#regi-con-01 #regi-seta-realize-seu-cadastro h3{
    margin: 0;
    margin-bottom: 20px
}

#regi-con-01 #regi-seta-realize-seu-cadastro span{
    margin: 0;
    margin-bottom: 20px
}

#regi-con-02 #regi-rodape p, a{
    font-size: 12px;
}

#regi-con-01 input[type="date"]{
    color: gray;
    font-size: 10px;
}












