@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
}

:root {
  --font-family: "Inter", system-ui, -apple-system, sans-serif;
  --standard-border: 5px;
}

body {
  font-family: var(--font-family);
}

.displayNone {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100vh;
  overflow: hidden;
}
